* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(18, 85, 102);
}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60px;
  max-width: 360px;
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 16px;
  transition: 0.5s ease-out;
}

.search-form {
  width: 100%;
  position: relative;
}
.search-form__label {
  display: flex;
}
.search-form__gps-img {
  width: 25px;
}
.search-form__input {
  width: 80%;
  padding: 8px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
}
.search-form__input::-moz-placeholder {
  font-size: 16px;
}
.search-form__input::placeholder {
  font-size: 16px;
}
.search-form__button {
  width: 40px;
  margin-left: 7px;
  background: rgb(98, 196, 235);
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s ease;
}
.search-form__button:hover {
  opacity: 1;
}
.search-form__button-img {
  width: 25px;
}

.weather-box {
  width: 100%;
  opacity: 0;
  scale: 0;
}

.weather-box-img {
  width: 250px;
}

.weather-box-error {
  display: none;
  opacity: 0;
  scale: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather-box-error__text {
  text-align: center;
  width: 200px;
}

.weather-box-normal {
  display: none;
  flex-direction: column;
  opacity: 0;
  scale: 0;
}
.weather-box-normal__current-temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.weather-box-normal__current-temp-img {
  width: 50%;
}
.weather-box-normal__current-temp-value {
  font-size: 42px;
  font-weight: 800;
  margin: 16px 0;
}
.weather-box-normal__current-temp-value span {
  position: absolute;
  margin-left: 4px;
  font-size: 21px;
}
.weather-box-normal__current-temp-text {
  font-size: 18px;
}
.weather-box-normal__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-box-normal__current-humidity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-box-normal__current-humidity-img {
  width: 25px;
}
.weather-box-normal__current-humidity-value {
  margin-left: 10px;
  width: 100px;
}
.weather-box-normal__wind-speed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.weather-box-normal__wind-speed-img {
  width: 25px;
}
.weather-box-normal__wind-speed-value {
  margin-left: 10px;
  width: 120px;
}

.fade-in {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {

  to {
    scale: 1;
    opacity: 1;
  }
  
}